body{
    background-color: slategrey;
}
.container{
    background-color: white ;
    width: 650px;
    margin-left: 650px;
    text-align: left;
    font-size: 12px;

}
.error{
    color: black;
    font-weight: bold;
    background-color: rgba(250, 0, 0, .5);
}

.output{
    background-color: rgba(3, 116, 146, .5);

}
.loggedInCorner{
    display: none;
}
.loggedInColumn{
    display: none;
}
.hiddenField{
    display: none;
}